@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace, sans-serif;
  font-weight: 700;
}

ul,
li,
a,
input,
textarea,
button {
  font-family: "Source Code Pro", monospace, sans-serif;
  color: rgb(23, 23, 46);
}

h1 {
  font-size: 6.4vw;
  text-align: left;
  padding-left: 3rem;
  color: #858484;
}
h1 span {
  font-weight: 300;
}
@media (min-width: 720px) {
  h1 {
    font-size: 2.777vw;
  }
}

h2 {
  font-size: 5.6vw;
  text-align: center;
}
@media (min-width: 720px) {
  h2 {
    font-size: 2.0138vw;
  }
}

h3 {
  font-size: 5.066vw;
}
@media (min-width: 720px) {
  h3 {
    font-size: 2.22vw;
  }
}

p {
  font-family: "Source Code Pro", monospace, sans-serif;
  font-size: 4vw;
  text-align: left;
  font-weight: 400;
  color: rgb(23, 23, 46);
}
@media (min-width: 720px) {
  p {
    font-size: 1.458vw;
  }
}

html {
  scroll-behavior: smooth;
}

body section,
main section {
  width: 100vw;
  margin-top: 0;
}
body section h1,
main section h1 {
  padding-top: 15vh;
}
@media (min-width: 720px) {
  body section,
main section {
    width: 90vw;
    margin-left: 10vw;
  }
  body section h1,
main section h1 {
    padding-top: 3vw;
  }
  body section#experience,
body section#contact,
main section#experience,
main section#contact {
    height: 100vh;
  }
}

.js {
  color: #f7e019;
}

.sass {
  color: #c86295;
}

.css3 {
  color: #1979b8;
}

.html5 {
  color: #dc4b25;
}

.react {
  color: #5ed3f2;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 11vh;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(23, 23, 46);
  z-index: 99;
}
nav a {
  font-size: 28px;
  color: #4d4d4e;
  display: block;
  position: relative;
  text-decoration: none;
}
nav a i {
  text-align: center;
  pointer-events: none;
}
nav a:after {
  content: "";
  font-size: 12px;
  letter-spacing: 2px;
  position: absolute;
  top: 90%;
  display: block;
  width: 100%;
  text-align: center;
  opacity: 1;
}
nav a.active {
  color: #ffd700;
}
nav a.home-link::after {
  content: "HOME";
  left: -5%;
}
nav a.experience-link::after {
  content: "EXPERIENCE";
  left: -80%;
}
nav a.work-link::after {
  content: "WORK";
}
nav a.contact-link::after {
  content: "CONTACT";
  left: -65%;
}
@media (min-width: 720px) {
  nav {
    flex-direction: column;
    width: 10vw;
    min-width: 127px;
    height: 100vh;
  }
  nav a {
    font-size: 28px;
    color: #858484;
    display: block;
    position: relative;
    text-decoration: none;
  }
  nav a i {
    transition: all 0.3s ease-out;
  }
  nav a:after {
    font-size: 12px;
    letter-spacing: 2px;
    top: 40%;
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  nav a:hover {
    color: #ffd700;
  }
  nav a:hover i {
    opacity: 0;
  }
  nav a:hover:after {
    opacity: 1;
  }
}

header {
  width: 100vw;
  margin-top: 10vw;
  margin-bottom: 0;
  height: 90vh;
  background-image: radial-gradient(farthest-corner at 100% 100%, #999999 0%, #ffffff 50%);
  background-position: 0 60%;
}
header h1 {
  padding: 10rem 0 1rem 1rem;
  text-align: left;
  pointer-events: none;
}
@media (min-width: 720px) {
  header {
    width: 90vw;
    margin-top: 0;
    margin-left: 10vw;
    height: 100vh;
  }
  header h1 {
    padding: 13rem 0 3rem 3rem;
    margin: 0;
  }
}
header .animation-container {
  position: relative;
}
header .animation-container .alan-head {
  width: 60%;
  display: block;
  position: absolute;
  left: 30%;
  top: 120%;
  opacity: 1;
}
header .animation-container .item {
  font-size: 6vw;
  pointer-events: none;
}
header .animation-container #gsap {
  margin: 0;
  height: 6vw;
  display: inline-block;
}
@media (min-width: 720px) {
  header .animation-container #gsap,
header .animation-container .item {
    font-size: 3.6vw;
  }
}
header #svg {
  width: 80%;
  margin-left: 10%;
  opacity: 0;
  transform: rotate(-7deg);
  pointer-events: none;
}
@media (min-width: 720px) {
  header #svg {
    width: 60%;
    margin-left: 30%;
  }
}
header #path {
  stroke: none;
  opacity: 0;
  pointer-events: none;
}

section {
  background-image: radial-gradient(farthest-corner at 100% 0%, #999999 0%, #ffffff 50%);
}
section .exp-container {
  width: 90%;
  margin: 5vw auto;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.3);
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #999999;
}
section .exp-container .exp-jobs {
  flex: 1;
}
section .exp-container .exp-jobs ul {
  height: 100%;
  margin: 0;
  display: flex;
  padding-left: 0;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
section .exp-container .exp-jobs ul li {
  width: 100%;
  height: 11vw;
  background-color: #858484;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5vw;
  transition: all 0.3s ease-out;
}
section .exp-container .exp-jobs ul li:first-of-type {
  border-radius: 10px 0 0 0;
}
section .exp-container .exp-jobs ul li:nth-of-type(3) {
  border-radius: 0 10px 0 0;
}
section .exp-container .exp-jobs ul li.active {
  background-color: #666666;
  color: #ffffff;
  text-decoration: underline;
}
section .exp-container .exp-desc {
  position: relative;
  height: 145vw;
}
section .exp-container .exp-desc p {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 1vw;
  transition: all 0.3s ease-out;
}
section .exp-container .exp-desc p.active {
  opacity: 1;
}
@media (min-width: 720px) {
  section .exp-container {
    flex-direction: row;
  }
  section .exp-container .exp-jobs {
    flex-direction: column;
  }
  section .exp-container .exp-jobs ul {
    flex-direction: column;
  }
  section .exp-container .exp-jobs ul li {
    font-size: 2vw;
    cursor: pointer;
  }
  section .exp-container .exp-jobs ul li:nth-of-type(3) {
    border-radius: 0 0 0 10px;
  }
  section .exp-container .exp-desc {
    height: 60vh;
    flex: 3;
  }
}

section#work .work-container {
  width: 100vw;
  margin: 5vw auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
section#work .work-container .work-block {
  position: relative;
  width: 40vw;
  height: 40vw;
  overflow: hidden;
  margin-bottom: 1vw;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #999999;
}
section#work .work-container .work-block img {
  width: 100%;
}
section#work .work-container .work-block .hover-slide {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  height: 40%;
  width: 100%;
  padding-left: 2vw;
  transition: all 0.3s ease-in-out;
}
section#work .work-container .work-block .hover-slide h3 {
  font-size: 3vw;
}
@media (min-width: 720px) {
  section#work .work-container .work-block .hover-slide h3 {
    font-size: 2vw;
  }
}
section#work .work-container .work-block > * {
  pointer-events: none;
}
@media (min-width: 720px) {
  section#work .work-container {
    width: 80%;
    margin: 2vw auto;
  }
  section#work .work-container .work-block {
    width: 22vw;
    height: 22vw;
    margin-bottom: 1vw;
    min-width: 200px;
    min-height: 200px;
  }
  section#work .work-container .work-block .hover-slide {
    bottom: -40%;
  }
  section#work .work-container .work-block:hover .hover-slide {
    bottom: 0;
  }
}
section#work .modal-cover {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  display: none;
  transition: all 0.5s ease-out;
  cursor: pointer;
}
section#work .close {
  width: 10vw;
  height: 10vw;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 1vw;
  right: 1vw;
  z-index: 9999;
  font-size: 22px;
  font-family: "Source Code Pro", monospace, sans-serif;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  pointer-events: none;
}
@media (min-width: 720px) {
  section#work .close {
    font-size: 72px;
  }
}
section#work .modal {
  width: 80vw;
  height: 75vh;
  overflow: hidden;
  overflow-y: scroll;
  margin: 10vh 10vw;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #999999;
  z-index: 9999;
  position: relative;
  cursor: default;
}
@media (min-width: 720px) {
  section#work .modal {
    height: 80vh;
  }
}
section#work .modal-inner {
  transition: all 0.5s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  z-index: 9999;
}
section#work .modal-inner img {
  width: 100%;
  clear: both;
  display: none;
}
@media (min-width: 720px) {
  section#work .modal-inner img {
    display: block;
  }
}
section#work .modal-inner .modal-details {
  padding: 3vw;
}
section#work .modal-inner .modal-details h2 {
  text-align: left;
}
section#work .modal-inner .modal-details a {
  font-size: 4vw;
  text-decoration: underline;
}
@media (min-width: 720px) {
  section#work .modal-inner .modal-details a {
    font-size: 1.458vw;
  }
}
section#work .modal-inner .modal-details p {
  height: 18vw;
}
section#work .modal-active {
  display: block;
}
section#work ul {
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 3vw;
}
@media (min-width: 720px) {
  section#work ul {
    font-size: 2vw;
  }
}
section#work ul li {
  padding-right: 1vw;
}

section#contact form {
  width: 80%;
  margin: 2vw auto;
}
section#contact input,
section#contact textarea,
section#contact button {
  width: 100%;
  font-size: 5vw;
  margin-bottom: 2vw;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #999999;
  padding: 1vw;
  outline: none;
  border: 1px solid #858484;
}
section#contact textarea {
  height: 50vh;
}
section#contact button {
  background-color: rgb(23, 23, 46);
  color: #858484;
}
@media (min-width: 720px) {
  section#contact form {
    margin-left: 3rem;
  }
  section#contact input,
section#contact textarea,
section#contact button {
    font-size: 1.5vw;
    padding: 0.5vw;
    margin-bottom: 1vw;
  }
  section#contact input,
section#contact button {
    width: 50%;
  }
  section#contact textarea {
    height: 30vh;
  }
}/*# sourceMappingURL=main.css.map */